#alterar-cores {
  margin-left: 20%;
  margin-top: 5vh;
  border-radius: 12px;
  width: 15%;
  height: 10%;
  background-color: transparent;
  border-color: #ffcf60;
  color: #ffcf60;
}
#alterar-cores:hover {
  background-color: #ffcf60;
  border-color: #ffcf60;
  color: white;
}
#alterar-cores:active {
  background-color: #ffcf60;
  border-color: whitesmoke;
  color: black;
}
.more {
  width: 40%;
  border-radius: 18px;
  background-color: #ffcf60;
  border-color: #ffcf60;
}
body {
  background-size: 100vw 100vh;
  background-repeat:no-repeat;
  background-attachment: fixed;
  margin: 0;
  background-color: whitesmoke;
}
#contact {
  width: 10%;
  height: 10%;
   margin-left: 45%;
   margin-right: 45%;
   border-radius: 12px;
   background-color: #ffcf60;
  border-color: #ffcf60;
  color: black;
  margin-top: 10vh;
}
#contact:hover {
  background-color: #ffcf60;
  border-color: #ffcf60;
  color: white;
}
.hidden {
  display: none;
}
#home {
  height: 55vh;
  width: 100%;
}
#Portfolio {
  height: 30%;
  width: 100%;
  text-align: center;
  margin-top: 6vh;
}
p {
  margin-left: 5vh;
  margin-right: 5vh;
  color: black;
}
footer {
 color: black;
 text-align: center;
 width: 100%;
 }
 #port {
  width: 80%;
  height: 20%;
  background-color: #ffd87d;
  opacity: 0.9;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 8px;
 }
#about {
  width: 90%;
  height: 80%;
  background-color: black;
  opacity: 0.8;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 8px;
  padding: 1vh;
}

#welcome {
  height: 100vh;
  width: 100vw;
  background-image: none;
  background-size: cover;
  background-repeat: none;
  position: relative;
}
#projects {
  width: 20%;
  height: 10%;
   margin-left: 40%;
   margin-right: 40%;
   border-radius: 12px;
   background-color: #ffcf60;
  border-color: #ffcf60;
  color: black;
}
#projects:hover {
  background-color: #ffcf60;
  border-color: #ffcf60;
  color: white;
}
#code {
  height: 20vh;
  width: 100vw;
  margin-top: 10vh;
}
#Code {
  height: 30%;
  width: 20%;
  margin-left: 60%;
  margin-right: 20%;
  border-radius: 12px;
    background-color: #ffcf60;
  border-color: #ffcf60;
  color: black;
}
#Code:hover {
  background-color: #ffcf60;
  border-color: #ffcf60;
  color: white;
}

h3 {
  text-align: center;
}
.ball {
  width: 15%;
  height: 25%;
  border-radius: 50%;
  background-color: #ffcf60;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ball1 {
  margin-left: 3%;
  margin-top: 5%;
  animation: fade-in 1s ease-in-out 0.6s forwards, fade-out 1s ease-in-out 3.6s forwards;
}

.ball2 {
  margin-left: 21%;
  margin-top: -10%;
  animation: fade-in 1s ease-in-out 1.2s forwards, fade-out 1s ease-in-out 4.2s forwards;
}

.ball3 {
  margin-left: 39%;
  margin-top: -10%;
  animation: fade-in 1s ease-in-out 1.8s forwards, fade-out 1s ease-in-out 4.8s forwards;
}
.ball4 {
  margin-left: 57%;
  margin-top: -10%;

  animation: fade-in 1s ease-in-out 2.4s forwards, fade-out 1s ease-in-out 5.4s forwards;
}
.ball5 {
  margin-left: 75%;
  margin-top: -10%;
  animation: fade-in 1s ease-in-out 3s forwards, fade-out 1s ease-in-out 6s forwards;
}


/*test*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.mt30{margin-top:30px;}
.wrapper {
	margin: 0 auto 100px auto;
	max-width: 960px;
}

.stage {
	list-style: none;
	padding: 0;
}

button.read-more-info-icon {
  margin-right: 15%;
    vertical-align: top;
    height: 8vh;
    width: 8vh;
    text-align: center;
    line-height: 0%;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border-color: transparent;
}
button.read-more-info-icon:hover {
    overflow: visible;
}
button.read-more-info-icon .hidden-info {
    position: absolute;
    top: 8vh;
    width: 25vw;
    text-align: left;
    background: black;
    padding: 10px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
  color:#fff;
}
button.read-more-info-icon.modal-left .hidden-info { 
    right: 0;
}
button.read-more-info-icon.modal-right .hidden-info { 
    left: 0;
}
button.read-more-info-icon:hover .hidden-info {
    opacity: 1;
}
#logo {
  width: 6vh;
  height: 6vh;
}


/*************************************
Build the scene and rotate on hover
**************************************/

.scene {
	width: 260px;
	height: 400px;
	margin: 30px;
	float: left;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.movie {
	width: 260px;
	height: 400px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-130px);
	-moz-transform: translateZ(-130px);
	transform: translateZ(-130px);
	-webkit-transition: -webkit-transform 350ms;
	-moz-transition: -moz-transform 350ms;
	transition: transform 350ms;
}

.movie:hover {
	-webkit-transform: rotateY(-78deg) translateZ(20px);
	-moz-transform: rotateY(-78deg) translateZ(20px);
	transform: rotateY(-78deg) translateZ(20px);
}

/*************************************
Transform and style the two planes
**************************************/

.movie .poster, 
.movie .info {
	position: absolute;
	width: 260px;
	height: 400px;
	background-color: whitesmoke;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.movie .poster  {
	-webkit-transform: translateZ(130px);
	-moz-transform: translateZ(130px);
	transform: translateZ(130px);
	background-size: cover;
	background-repeat: no-repeat;
}

.movie .info {
	-webkit-transform: rotateY(90deg) translateZ(130px);
	-moz-transform: rotateY(90deg) translateZ(130px);
	transform: rotateY(90deg) translateZ(130px);
	border: 4px solid whitesmoke;
	font-size: 0.75em;
}

/*************************************
Shadow beneath the 3D object
**************************************/

.csstransforms3d .movie::after {
	content: '';
	width: 260px;
	height: 260px;
	position: absolute;
	bottom: 0;
	box-shadow: 0 30px 50px rgba(0,0,0,0.3);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-transform: rotateX(90deg) translateY(130px);
	-moz-transform: rotateX(90deg) translateY(130px);
	transform: rotateX(90deg) translateY(130px);
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie:hover::after {
	box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

/*************************************
Movie information
**************************************/

.info header {
	color: #FFF;
	padding: 7px 10px;
	font-weight: bold;
	height: 195px;
	background-size: contain;
	background-repeat: no-repeat;
	text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
	margin: 0 0 2px;
	font-size: 1.4em;
}

.info header .rating {
	border: 1px solid #FFF;
	padding: 0px 3px;
}

.info p {
	 padding: 1.2em 1.4em;
    margin: 2px 0 0;
    color: #395065;
    text-align: justify;
    line-height: 1.4em;
    font-family: sans-serif;
	 
}

/*************************************
Generate "lighting" using box shadows
**************************************/

.movie .poster,
.movie .info,
.movie .info header {
	-webkit-transition: box-shadow 350ms;
	-moz-transition: box-shadow 350ms;
	transition: box-shadow 350ms;
}

.csstransforms3d .movie .poster {
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
  background-size: cover;
    background-position: top;
}

.csstransforms3d .movie:hover .poster {
	box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .movie .info, 
.csstransforms3d .movie .info header {
	box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .movie:hover .info, 
.csstransforms3d .movie:hover .info header {
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

/*************************************
Posters and still images
**************************************/

.scene:nth-child(1) .movie .poster {
  background-color: #0097b2;
}

.scene:nth-child(2) .poster {
  background-color: #ff6949;
}

.scene:nth-child(3) .poster {
  background-color: #5e17eb;
}

.scene:nth-child(1) .info header {
	background-image: url("survey.png");
}

.scene:nth-child(2) .info header {
	background-image: url("ada.png");
}

.scene:nth-child(3) .info header {
	background-image: url("tech.png");
}

/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster, 
.no-csstransforms3d .movie .info {
	position: relative;
}

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 60.75em){
	.scene {
		float: none;
		margin: 30px auto 60px;
	}
}
/*end test*/
#glegle {
column-width: 40%;
max-height: 40%;
margin-left: 10%;
margin-right: 10%;
  column-count: 2;
}
/*computer*/
#looking {
  height: 65vh;
  width: 100%;
}

:root {
  --screenSize: 4vmin;
  --borderSize: 2vmin;
  --primary: slategray;
  --secondary: darkslategray;
}

#wrapper {
  position: static;
  width: 50%;
  height: 50%;
  margin: 0;
  margin-top: 6vmin;
  padding: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  animation: rotateAll 10000ms linear infinite;
}
.screen {
  position: absolute;
  height: calc(var(--screenSize) * 10);
  width: calc(var(--screenSize) * 16);
  margin-top: 5vmin;
  transform-style: preserve-3d;
}
.screen {
  position: absolute;
  background: var(--secondary);
  border-radius: 1vmin 1vmin 0 0;
  border: var(--borderSize) solid var(--secondary);
}
.screen::before {
  content: "";
  position: absolute;
  width: calc(100% + var(--borderSize) + var(--borderSize));
  height: 20%;
  left: calc(var(--borderSize) * -1);
  background: var(--secondary);
  border-radius: 0 0 1vmin 1vmin;
  top: calc(var(--screenSize) * 10 + var(--borderSize));
}
.screen:nth-of-type(1) {
  background-image: url('cover.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: var(--borderSize) solid #ecedef;
}
.screen:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background: none;
  box-shadow: 4vmin 4vmin 20vmin white inset;
  border-radius: 0;
  transform: translateZ(0.01vmin);
  animation: screenGlare 10000ms linear infinite;
}
.screen:nth-of-type(1)::before {
  background: var(--primary);
}
.screen:nth-of-type(2) {
  transform: translateZ(-0.1vmin);
}
.screen:nth-of-type(3) {
  transform: translateZ(-0.2vmin);
}
.screen:nth-of-type(4) {
  transform: translateZ(-0.3vmin);
}
.screen:nth-of-type(5) {
  transform: translateZ(-0.4vmin);
}
.screen:nth-of-type(6) {
  transform: translateZ(-0.5vmin);
}
.screen:nth-of-type(7) {
  transform: translateZ(-0.6vmin);
}
.screen:nth-of-type(8) {
  transform: translateZ(-0.7vmin);
}
.screen:nth-of-type(9) {
  transform: translateZ(-0.8vmin);
}
.screen:nth-of-type(10) {
  transform: translateZ(-0.9vmin);
}
.screen:nth-of-type(11) {
  transform: translateZ(-1vmin);
}
.screen:nth-of-type(12) {
  transform: translateZ(-1.1vmin);
}
.screen:nth-of-type(13) {
  transform: translateZ(-1.2vmin);
}
.screen:nth-of-type(14) {
  transform: translateZ(-1.3vmin);
}
.screen:nth-of-type(15) {
  transform: translateZ(-1.4vmin);
}
.screen:nth-of-type(16) {
  transform: translateZ(-1.5vmin);
}
.screen::after {
  content: "";
  position: absolute;
  width: calc(100% + var(--borderSize) + var(--borderSize));
  left: calc(var(--borderSize) * -1);
  top: calc(var(--borderSize) * -1);
  height: calc(120% + var(--borderSize) + var(--borderSize));
  transform: translateZ(-0.05vmin);
  background: var(--secondary);
  border-radius: 1vmin;
}
.screen:nth-of-type(16)::after {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png);
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: calc(var(--screenSize) * 3);
  transform: translateZ(-0.05vmin) rotateY(180deg);
  box-shadow: 0 0 calc(var(--screenSize) * 2) rgba(0, 0, 0, 0.6) inset;
  opacity: 0.5;
}
.stand {
  position: absolute;
  width: calc(var(--screenSize) * 6);
  height: var(--borderSize);
  background: var(--primary);
  top: calc(var(--screenSize) * 10 + 30vmin);
  transform: rotateY(-90deg) translateX(-17%);
  transform-style: preserve-3d;
}
.stand::after {
  content: "";
  position: absolute;
  width: var(--borderSize);
  height: calc(var(--screenSize) * 8);
  background: var(--primary);
  bottom: 0;
  transform: translateX(200%) rotate(10deg);
  left: var(--screenSize);
}
.stand::before {
  content: "";
  position: absolute;
  width: var(--screenSize);
  height: var(--screenSize);
  background: var(--primary);
  top: calc(var(--screenSize) * -7.8);
  left: calc(var(--screenSize) * 2.62);
}
.standWrapper {
  position: absolute;
  transform-style: preserve-3d;
  transform: translateY(13vmin) translateX(-34vmin) scaleX(2) scaleY(0.8);
}
.standWrapper div:nth-of-type(2) {
  transform: rotateY(-90deg) translateX(-17%) translateZ(-10vmin);
}
.standWrapper .back,
.standWrapper .front {
  position: absolute;
  width: 10vmin;
  height: calc(var(--screenSize) * 8);
  background: var(--primary);
  top: calc(var(--screenSize) * 10);
  left: calc(var(--screenSize) * 3);
  transform: rotateX(-10deg) translateZ(-7.7vmin) rotateY(180deg);
  box-shadow: 0 calc(var(--screenSize) * 5) var(--borderSize) rgba(0, 0, 0, 0.1)
    inset;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    40% 100%,
    40% 20%,
    60% 20%,
    60% 60%,
    40% 60%,
    40% 100%,
    100% 100%,
    100% 0%
  );
}
.standWrapper .front {
  transform: rotateX(-10deg) translateZ(-6.1vmin);
}
.standWrapper .back {
  box-shadow: 0 calc(var(--screenSize) * 1) calc(var(--borderSize) * 4)
    rgba(0, 0, 0, 0.1) inset;
}
.standWrapper .top {
  position: absolute;
  width: 10vmin;
  height: calc(var(--screenSize) * 6);
  background: var(--primary);
  top: calc(var(--screenSize) * 10);
  left: calc(var(--screenSize) * 3);
  transform: rotateX(-90deg) translateZ(18.1vmin) translateY(4.1vmin)
    rotateY(180deg);
  transform-style: preserve-3d;
  box-shadow: 0 0 0 999px rgba(255, 255, 255, 0.1) inset;
}
.standWrapper .top::before,
.standWrapper .top::after {
  content: "";
  position: absolute;
  height: 2vmin;
  width: 10vmin;
  background: var(--primary);
  transform-origin: top center;
  transform: rotateX(90deg) translateZ(-0.1vmin) translateX(-5vmin)
    translateY(-2vmin);
  box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.1) inset;
}
.standWrapper .top::after {
  transform: rotateX(90deg) translateZ(-23.8vmin) translateX(-5vmin)
    translateY(-2vmin);
}
.standWrapper .bottom {
  position: absolute;
  height: 4vmin;
  width: 10vmin;
  left: 12vmin;
  background: var(--primary);
  box-shadow: 0 0 0 999px rgba(0, 0, 0, 0.1) inset;
  transform: rotateX(90deg) translateZ(-36.8vmin) translateY(-3.7vmin);
}


@keyframes rotateAll {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes screenGlare {
  0% {
    box-shadow: 4vmin 0 20vmin rgba(255, 255, 255, 0.3) inset;
  }
  40% {
    box-shadow: 20vmin 0 50vmin rgba(255, 255, 255, 0.3) inset;
  }
  80% {
    box-shadow: -20vmin 0 50vmin rgba(255, 255, 255, 0.3) inset;
  }
  100% {
    box-shadow: 4vmin 0 20vmin rgba(255, 255, 255, 0.3) inset;
  }
}

/*end computer*/




/* media queries */

/* Smartphones */
@media only screen and (max-width: 600px) {
  /* styles for smartphones */
  body {
    width: 100%;
    height: 100%;
  }
  #walking {
    height: 40%;
  }
  #alterar-cores {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 10%;
  }
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* styles for tablets */
  body {
    width: 100%;
    height: 100%;
  }
  #walking {
    height: 40%;
  }
  #alterar-cores {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 10%;
  }
}

/* Small laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* styles for small laptops */
  body {
    width: 100%;
    height: 100%;
  }
}

/* Large laptops and desktops */
@media only screen and (min-width: 1025px) {
  /* styles for large laptops and desktops */
  body {
    width: 100%;
    height: 100%;
  }
}
